[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "external/webshop-minimal"]
	path = external/webshop-minimal
	url = https://github.com/ZihanWang314/webshop-minimal.git
[submodule "ragen/env/spatial/Base"]
	path = ragen/env/spatial/Base
	url = git@github.com:williamzhangNU/ToS_Base.git
